name: Zookeeper Lifecycle

on: [push, pull_request, workflow_dispatch]

jobs:
  zookeeper-lifecycle-ubuntu:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v1
      - name: "Start zookeeper instances"
        run : |
          cd src/linux && bash ./zkCmd.sh start
      - name: "Stop zookeeper instances"
        run : |
          cd src/linux && bash ./zkCmd.sh stop
          
          
  zookeeper-lifecycle-windows:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v1
      - name: "Start zookeeper instances"
        run : |
          cd src/windows && bash ./zkCmd.sh start
        shell: bash
      - name: "Stop zookeeper instances"
        run : |
          cd src/windows && bash ./zkCmd.sh stop
        shell: bash
